/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Pacifico', cursive;
}
body.no-scroll {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}


/* SECTIONS */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 7.5rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}


/* BUTTONS */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}
.btn-color-1, .btn-color-2 {
  border: rgb(0, 0, 0) 0.1rem solid;
}
.btn-color-1:hover, .btn-color-2:hover {
  cursor: pointer;
}
.btn-color-1, .btn-color-2:hover {
  background: rgb(0, 0, 0);
  color: white;
}
.btn-color-1:hover {
  background: rgb(0, 0, 0);
}
.btn-color-2 {
  background: none;
}
.btn-color-2:hover {
  border: rgb(255, 255, 255) 0rem solid;
}
.btn-container {
  gap: 1rem;
}


/* NAVIGATION */
nav{
  display: flex;
  height: 82.5px;
  width: 100%;
  background: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

nav .logo{
color: black;
font-size: 35px;
font-weight: 600;
}

nav ul{
display: flex;
flex-wrap: wrap;
list-style: none;
}

nav ul li{
margin: 0 5px;
}

nav ul li a{
color: black;
text-decoration: none;
font-size: 18px;
font-weight: 500;
padding: 8px 15px;
border-radius: 5px;
letter-spacing: 1px;
transition: all 0.3s ease;
}

nav .menu-btn i{
color: #000000;
font-size: 35px;
cursor: pointer;
display: none;
}

input[type="checkbox"]{
display: none;
}


/* PROFILE SECTION */
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.icon {
  cursor: pointer;
  height: 3.5rem;
  margin-top: 1.5rem;
}
.icon:hover {
  transform: scale(1.25);
  transition: transform 0.75s ease;
}

.speaker {
  background-color: white;
  border: none;
  cursor: pointer;
}

.section__pic-container {
  display: flex;
  margin: auto 0;
}
.section__pic-container img{
  height: 450px;
  width: 450px;
  margin: auto 0;
  border-radius: 15px;
}
.section__text {
  align-self: center;
  text-align: center;
}
.section__text__p1 {
  text-align: center;
  margin-bottom: 0.75rem;
  font-size: xx-large;
}
.section__text__p2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-size: xx-large;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}


/* ABOUT SECTION */
#about {
  position: relative;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
  font-size: 16.25px;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.logos {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
}
.logos-slide img {
  height: 50px;
  width: auto;
  margin: 0 1rem;
}

.text-container {
  font-size: x-large;
  text-align: center;
  text-justify: distribute-all-lines;
  font-family: Arial, Helvetica, sans-serif;
}
.text-container p {
  white-space:none;
}


/* EXPERIENCE SECTION */
/* #experience {
  position: relative;
}


/* PROJECTS SECTION */
#projects {
  position: relative;
  margin-bottom: 10vh;
}

.about-containers {
  display: flex;
  justify-content: space-between;
}
.about-containers a:hover::before, .about-containers a:hover::after {
  display: none;
}
.about-containers h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 0;
}

.project-grid {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.project-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.project-card img {
  width: 100%;
  height: 425px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  filter: grayscale(100%);
}
.project-card img:hover {
  filter: grayscale(0%);
}
.project-card h2 {
  margin-top: 0.5rem;
  text-align: center;
}


/* CONTACT */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}
#contact p:hover a {
  background: linear-gradient(45deg, #0508aa, #bb1425, #07a11c);
  color: transparent;
  background-clip: text;
}

.contact-info-upper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  border: black 0.1rem solid;
  margin: 1rem auto;
  padding: 0.25rem;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}
.contact-info-container p {
  font-size: x-large;
}
.contact-info-container p a {
  color: black;
}

.contact-icon {
  cursor: default;
  height: 2rem;
  width: 2rem;
} 
.contact-icon:hover {
  transition: none;
  transform: none;
}


/* FOOTER SECTION */
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  font-size: x-large;
  color: black;
}
.nav-links a {
  color: black;
}

.up-arrow {
  display: flex;
  justify-content: center;
  margin-bottom: -1rem;
}
.up-arrow img {
  height: 3rem;
  width: 3rem;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}


/* RESPONSIVE DESIGN */
@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact, #projects {
    height: fit-content;
  }
}
  
@media screen and (max-width: 1200px) {
  #hamburger-nav {
    display: flex;
  }
  #experience, .experience-details-container {
    margin-top: 2rem;
  }
  #profile, .section-container {
    display: block;
  }
  section, .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    margin-bottom:-175px;
    padding: 0;
  }
  .section__pic-container img{
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }

  .contact-info-container p {
    max-width: 300px; 
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 600px) {
  nav{
    padding: 0 2.5rem;
  }
  nav .menu-btn i{
    display: block;
  }

  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    backdrop-filter: blur(50px);
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  nav ul li{
    width: 100%;
    margin-top: 125px;
  }

  nav ul li a{
    color: black;
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 25px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked ~ ul{
    left: 0;
  }

  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  
  #click:checked ~ ul li a{
    margin-left: 0px;
  }

  .section__text {
    margin-top: 9.5rem;
  }
  .section__text__p1 {
    font-size: 1.5rem;
  }
  .section__text__p2 {
    font-size: 1.5rem;
  }

  .title {
    font-size: 2rem;
    margin-top: -0.5rem;
  }

  nav .logo {
    font-size: 2rem;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
    margin-top: -1.75rem;
  }

  .section__pic-container img{
    width: 350px;
    height: auto;
  }

  .btn-color-2 {
    color: white;
    background-color: black;
  }

  #socials-container {
    margin-top: 1rem;
  }

  .icon {
    height: 3rem;
    margin-top: 0.5rem;
  }
  .icon:hover {
    transform: none;
  }

  #about {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .text-container {
    text-align: justify;
    text-align: center;
    font-size: 16.5px;
  }

  .logos-slide img {
    width: 40px;
    height: 40px;
    filter: grayscale(100%)
  }

  #projects {
    margin-bottom: 12rem;
  }

  .experience-details-container {
    margin-top: 0;
  }

  .project-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    gap: 0;
  }

  .project-card img {
    width: 175px;
    height: 275px;
  }

  #contact {
    height: 40vh;
    color: black;
  }
  #contact p:hover a {
    background: none;
    color: inherit;
    background-clip: initial;
  }

  .contact-info-upper-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
    padding: 5px;
    text-align: center;
  }

  footer {
    margin-top: 10rem;
    margin-bottom: 2rem;
  }

  .up-arrow {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  footer nav {
    margin-top: -2rem;
  }

  footer .nav-links a:hover {
    transform: none;
  }
}