@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.title {
    color: black;
}

/* SECTIONS */
section {
    margin: 0 1rem;
    box-sizing: border-box;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}
footer p {
    font-size: 100%;  
}

/* NAVBAR */
nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99;
}

.nav__content {
    max-width: 90%;
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    font-family: 'Pacifico', cursive;
}

nav .checkbox {
    display: none;
}
nav .checkbox i {
    font-size: 3rem;
    cursor: pointer;
}

nav input {
    display: none;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

ul li a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: 600;
    color: white;
    border: white solid 2px;
    border-radius: 15px;
    background-color: rgb(46, 46, 46);
}

/* RESPONSIVE NAVBAR */
@media (max-width: 1024px) {
    .nav__content {
        padding-top: 1rem;
    }
    nav .checkbox {
      display: block;
    }
    nav .checkbox i {
        cursor: pointer;
    }
    nav #check:checked ~ ul {
        left: 0;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(110vh - 100px);
        left: -100%;
        top: 90%;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        gap: 2.5rem;
    }
    ul li a {
        font-size: 2rem;
    }
}

/* MOBILE DEVICES */
@media only screen and (max-width: 767px) {
    /* Nav */
    nav .logo {
        font-size: 2rem;
    }

    nav .checkbox i {
        font-size: 2.75rem;
        border: black solid 0.15rem;
        border-radius: 7.5px;
    }

    /* Profile Section */
    #profile {
        margin-top: calc(20vw * 0.01 + 27.5%);
        margin-bottom: 5%;
        flex-direction: column;
        text-align: center;
    }

    .section__pic-container img{
        width: 85%;
        height: auto;
        border-radius: 15px;
        box-shadow: 0 0 10px 7.5px rgba(0, 0, 0, 0.5);
        background: linear-gradient(to bottom, black, gray);
    }
    
    .section__text {
        margin-top: 3%;
    }
    .section__text__p1 {
        font-size: 2rem;  
    }
    .section__text .icon {
        font-size: 2rem;
    }

    #profile .title {
        font-size: 5rem;   
    }

    .speaker {
        background-color: white;
        border: none;
    }

    .section__text__p2 {
        font-size: 1.75rem;  
    }

    .btn-container {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        margin-top: 2.5%;
    }
    .btn {
        font-weight: 600;
        font-size: 1rem;  
        padding: 0.75rem;
        width: 9rem;  
        border-radius: 15px;
    }
    .btn-color-1, .btn-color-2 {
        border: black solid;
        color: white;
        background-color: black;
    }

    .socials-container {
        display: flex;
        justify-content: center;
        gap: 3.5%;
        margin-top: 5%;
    }

    .icon {
        height: 3rem;
    }

    /* About Section */
    #about {
        margin-bottom: 5%;
    }
    #about .section__text__p1 {
        font-size: 1.25rem;  
        text-align: center;
    }

    #about .title {
        font-size: 2rem;   
        text-align: center;
    }

    .text-container p {
        font-size: 0.875rem;  
        padding: 1.5%; /* Adds padding inside the paragraph for a better text block appearance */
        text-align: justify; /* Justifies the text for a cleaner, more formal appearance */
        background-color: #f4f4f4; /* Optional: a light background to highlight the text block */
    }

    .logos {
        margin-top: -1rem;
        margin-bottom: -1.25rem;
    }
    .logos-slide img {
        width: 30px;  
        height: auto;
    }

    /* Projects Section */
    #projects {
        margin-bottom: 2.5%;
    }
    #projects .section__text__p1 {
        font-size: 1.25rem;  
        text-align: center;
    }

    #projects .title {
        font-size: 2rem;  
        text-align: center;
    }
    
    .project-card {
        position: relative;
        padding-bottom: 5%;
        display: block;  /* Adjusted for block-level containing link and image. */
        border-radius: 15px;  /* Optional for rounded corners on the card. */
        overflow: hidden;  /* Ensures no overflow outside the rounded borders. */
    }
    
    .project-card a {
        display: block;
        color: inherit;  /* Ensures text inherits color, not default blue. */
        text-decoration: none;  /* Removes underline from links. */
    }
    
    .project-card img {
        width: 100%;   
        height: 200px;  
        object-fit: cover;
        object-position: center;
        display: block;
        border-radius: 15px;  /* Applies rounding to the image. */
    }
    
    .project-card h2 {
        position: absolute;
        top: 50%;  /* Positions the top of the element at the middle of the parent. */
        left: 50%;  /* Centers the element according to the left edge. */
        transform: translate(-50%, -50%);  /* Adjusts position to truly center the text. */
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
        color: white;  /* For better visibility over images. */
        margin: 0;  /* Removes any default margin. */
        padding: 10px 0;  /* Adds vertical padding for visual comfort. */
    }

    /* Contact Section */
    #contact {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #contact .section__text__p1 {
        font-size: 1.25rem;   
        text-align: center;
    }

    #contact .title {
        font-size: 2rem;  
        text-align: center;
    }

    .contact-info-upper-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-info-container {
        display: flex;
        margin-bottom: 0.25rem;
        padding: 0.15rem;
        text-align: center;
        border: black 0.1rem solid;
        border-radius: 15px;
        background-color: #f0f0f0
    }
    .contact-info-container p {
        font-size: 1.19rem;   
        word-break: break-all;
    }
    .contact-info-container p a {
        color: black;
    }

    .contact-icon {
        height: 1.75rem;   
        width: auto;
        margin: 0.25rem;
    }
}

/* TABLET DEVICES */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Nav */
    nav .logo {
        font-size: 3rem;
    }

    nav .checkbox i {
        font-size: 3.5rem;
        border: black solid 0.15rem;
        border-radius: 7.5px;
    }

    ul li a {
        font-size: 3.5rem;
    }

    /* Profile Section */
    #profile {
        margin-top: 19%;
        margin-bottom: 5%;
        flex-direction: column;
        text-align: center;
    }

    .section__pic-container img{
        width: 65%;  
        height: auto;
        border-radius: 15px;
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
        background: linear-gradient(to bottom, black, gray);
    }
    
    .section__text__p1 {
        font-size: 3rem;  
        margin-top: 1%;
    }

    #profile .title {
        font-size: 4rem;  
    }

    .speaker {
        background-color: white;
        border: none;
    }

    .section__text .icon {
        font-size: 2.25rem;
    }

    .section__text__p2 {
        font-size: 2.75rem;  
        margin-bottom: 0.5rem;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        margin-top: 2.5%;
    }
    .btn {
        font-weight: 600;
        font-size: 1.75rem;   
        padding: 0.5rem; 
        width: 15rem;   
        height: 4.5rem;   
        border-radius: 15px;
    }
    .btn-color-1, .btn-color-2 {
        border: black solid;
        color: white;
        background-color: black;
    }

    .socials-container {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }

    .icon {
        height: 5rem;   
        margin-top: 2.5%;   
    }

    /* About Section */
    #about {
        margin-bottom: 5%;
    }

    #about .section__text__p1 {
        font-size: 2rem;    
        text-align: center;
    }
    #about .title {
        font-size: 3rem;    
        text-align: center;
    }

    .text-container p {
        font-size: 1.25rem;  
        padding: 1%;
        text-align: justify; /* Justifies the text for a cleaner, more formal appearance */
        background-color: #f4f4f4; /* Optional: a light background to highlight the text block */
    }

    .logos {
        display: flex;       /* Sets the .logos container to use flexbox */
        justify-content: center; /* Centers the content horizontally */
        align-items: center; /* Centers the content vertically (if needed) */
    }
    
    .logos-slide {
        display: flex;       /* Enables flexbox for direct children, which are img elements here */
        flex-wrap: wrap;     /* Allows the images to wrap onto multiple lines */
        justify-content: center; /* Centers the images horizontally */
        align-items: center; /* Aligns images vertically */
        gap: 10px;           /* Adds space between the images */
    }
    
    .logos-slide img {
        width: 55px;    /* Optional: Sets a maximum width for each image */
        height: auto;        /* Maintains aspect ratio */
    }

    /* Projects Section */
    #projects {
        margin-bottom: 2%;
    }
    #projects .section__text__p1 {
        font-size: 2rem;  
        text-align: center;
    }

    #projects .title {
        font-size: 3rem;  
        text-align: center;
    }
    
    .project-card {
        position: relative;
        padding-bottom: 2.5%;
        display: block;  /* Adjusted for block-level containing link and image. */
        border-radius: 15px;  /* Optional for rounded corners on the card. */
        overflow: hidden;  /* Ensures no overflow outside the rounded borders. */
    }
    
    .project-card a {
        display: block;
        color: inherit;  /* Ensures text inherits color, not default blue. */
        text-decoration: none;  /* Removes underline from links. */
    }
    
    .project-card img {
        width: 100%;   
        height: 250px;  
        object-fit: cover;
        object-position: center;
        display: block;
        border-radius: 15px;  /* Applies rounding to the image. */
    }
    
    .project-card h2 {
        position: absolute;
        top: 50%;  /* Positions the top of the element at the middle of the parent. */
        left: 50%;  /* Centers the element according to the left edge. */
        transform: translate(-50%, -50%);  /* Adjusts position to truly center the text. */
        width: 100%;
        text-align: center;
        font-size: 3rem;
        color: white;  /* For better visibility over images. */
        margin: 0;  /* Removes any default margin. */
        padding: 10px 0;  /* Adds vertical padding for visual comfort. */
    }

    /* Contact Section */
    #contact {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #contact .section__text__p1 {
        font-size: 2rem;   
        text-align: center;
    }

    #contact .title {
        font-size: 3rem;  
        text-align: center;
    }

    .contact-info-upper-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-info-container {
        display: flex;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        text-align: center;
        border: black 0.1rem solid;
        border-radius: 15px;
        background-color: #f0f0f0
    }
    .contact-info-container p {
        font-size: 2.25rem;   
        word-break: break-all;
    }
    .contact-info-container p a {
        color: black;
    }

    .contact-icon {
        height: 3rem;   
        width: auto;
        margin: 0.25rem;
    }

    /* Footer */
    footer p {
        font-size: 150%;  
    }
}

/* LAPTOP DEVICES */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    /* Nav */
    .logo {
        font-size: 2.25rem;
    }

    ul li a {
        padding: 0.25rem 0.75rem;
        border: none;
        background-color: white;
        font-size: 1.25rem;
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: black;
        transition: color 0.25s ease-in-out;
    }
    
    ul li a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 7.5px;
        bottom: -10%;
        left: 0;
        background-color: black;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.25s ease-in-out 0.125s;
        border-radius: 15px;
    }
    
    ul li a:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }
    
    ul li a.green:hover {
        color: green;
    }
    
    ul li a.green::before {
        background-color: rgb(0, 155, 0);
    }
    
    ul li a.blue:hover {
        color: blue;
    }
    
    ul li a.blue::before {
        background-color: rgb(0, 0, 204);
    }
    
    ul li a.red:hover {
        color: red;
    }
    
    ul li a.red::before {
        background-color: rgb(207, 0, 0);
    }
    
    /* Profile Section */
    #profile {
        margin-top: 10%;
        margin-bottom: 2.5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #profile .title {
        font-size: 4.5rem;
        text-align: center;
    }

    .speaker {
        background-color: white;
        border: none;
        cursor: pointer;
    }

    .section__text .icon {
        font-size: 2.25rem;
    }

    .section__pic-container img {
        width: 75%;
        height: auto;
        border-radius: 15px;
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
        background: linear-gradient(to bottom, black, gray);
    }
    .section__text {
        align-self: center;
        text-align: center;
    }
    .section__text__p1 {
        text-align: center;
        font-size: 2.5rem;
    }
    .section__text__p2 {
        margin-bottom: 0.5rem;
        font-size: 2.25rem;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }
    .btn {
        font-weight: 600;
        transition: all 0.25s ease;
        padding: 1rem;
        width: 10rem;
        height: 3.5rem;
        border-radius: 15px;
        font-size: 1rem;
    }
    .btn-color-1, .btn-color-2 {
        border: black solid;
        background-color: white;
    }
    .btn-color-1:hover, .btn-color-2:hover {
        cursor: pointer;
        color: white;
        background-color: black;
    }

    .socials-container {
        display: flex;
        justify-content: center;
        gap: 1.25rem;
    }

    .icon {
        cursor: pointer;
        height: 3.5rem;
        margin-top: 1.5rem;
    }
    .icon:hover {
        transform: scale(1.25);
        transition: transform 0.5s ease;
    }

    /* About Section */
    #about {
        position: relative;
        margin-bottom: 2.5rem;
    }
    #about .section__text__p1 {
        font-size: 1.5rem;
    }
    #about .title {
        font-size: 2.5rem;
        text-align: center;
    }
    
    .text-container p {
        font-size: 1.5rem;  
        padding: 0.5%;
        text-align: justify; /* Justifies the text for a cleaner, more formal appearance */
        background-color: #f4f4f4; /* Optional: a light background to highlight the text block */
    }

    .logos {
        display: flex;       /* Sets the .logos container to use flexbox */
        justify-content: center; /* Centers the content horizontally */
        align-items: center; /* Centers the content vertically (if needed) */
    }
    
    .logos-slide {
        display: flex;       /* Enables flexbox for direct children, which are img elements here */
        flex-wrap: wrap;     /* Allows the images to wrap onto multiple lines */
        justify-content: center; /* Centers the images horizontally */
        align-items: center; /* Aligns images vertically */
        gap: 15px;           /* Adds space between the images */
    }
    
    .logos-slide img {
        width: 65px;    /* Optional: Sets a maximum width for each image */
        height: auto;        /* Maintains aspect ratio */
    }

    /* Projects Section */
    #projects {
        margin-bottom: 2.5%;
    }
    #projects .section__text__p1 {
        font-size: 1.5rem;
    }
    #projects .title {
        font-size: 2.5rem;
        text-align: center;
    }
    
    .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    
    .project-card {
        position: relative; /* Set the position to relative to allow absolute positioning of children */
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center children vertically */
        align-items: center; /* Center children horizontally */
        overflow: hidden; /* Optional: Prevents overflow from rounded corners */
    }
    
    .project-card img {
        width: 350px;
        height: 450px;
        object-fit: cover;
        object-position: center;
        border-radius: 15px;
        filter: grayscale(100%);
        transition: filter 0.25s; /* Smooth transition for hover effect */
    }
    
    .project-card img:hover {
        filter: grayscale(0%);
    }
    
    .project-card h2 {
        position: absolute; /* Position the h2 absolutely within the relative parent */
        top: 50%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Adjust position to truly center the text */
        text-align: center;
        font-size: 2.5rem;
        color: white; /* Ensures text is visible on top of images */
        width: 100%; /* Stretch to full width of the container */
        margin: 0; /* Remove any default margin */
        padding: 10px 0; /* Vertical padding */
    }

    /* Contact Section */
    #contact {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #contact .section__text__p1 {
        font-size: 1.5rem;
    }
    #contact .title {
        font-size: 2.5rem;
        text-align: center;
    }
    #contact p:hover a {
        background: linear-gradient(45deg, red, orange, yellow, green,blue, purple);
        color: transparent;
        background-clip: text;
    }
    
    .contact-info-upper-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .contact-info-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        margin: 0.5rem;
        padding: 0.5rem;
        border: black 0.25rem solid;
        border-radius: 15px;
        background-color: #dddddd;
    }
    .contact-info-container p {
        font-size: 2rem;
    }
    .contact-info-container p a {
        color: black;
    }
    
    .contact-icon {
        cursor: default;
        width: 3.5rem;
        height: auto;
    } 
    .contact-icon:hover {
        transition: none;
        transform: none;
    }

    /* Footer */
    footer p {
        font-size: 175%;  
    }
}

/* DESKTOP DEVICES */
@media only screen and (min-width: 1441px) and (max-width: 2560px) {
    /* Nav */
    .logo {
        font-size: 3rem;
    }

    ul li a {
        padding: 0.5rem 1rem;
        border: none;
        background-color: white;
        font-size: 1.5rem;
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: black;
        transition: color 0.25s ease-in-out;
    }
    
    ul li a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 7.5px;
        bottom: -10%;
        left: 0;
        background-color: black;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.25s ease-in-out 0.125s;
        border-radius: 15px;
    }
    
    ul li a:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }
    
    ul li a.green:hover {
        color: green;
    }
    
    ul li a.green::before {
        background-color: rgb(0, 155, 0);
    }
    
    ul li a.blue:hover {
        color: blue;
    }
    
    ul li a.blue::before {
        background-color: rgb(0, 0, 204);
    }
    
    ul li a.red:hover {
        color: red;
    }
    
    ul li a.red::before {
        background-color: rgb(207, 0, 0);
    }
    
    
    /* Profile Section */
    #profile {
        margin-top: 12.5%;
        margin-bottom: 2.5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #profile .title {
        font-size: 5rem;
        text-align: center;
    }

    .speaker {
        background-color: white;
        border: none;
        cursor: pointer;
    }

    .section__text .icon {
        font-size: 2.5rem;
    }

    .section__pic-container img {
        width: 75%;
        height: auto;
        border-radius: 15px;
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
        background: linear-gradient(to bottom, black, gray);
    }
    .section__text {
        align-self: center;
        text-align: center;
    }
    .section__text__p1 {
        text-align: center;
        font-size: 3.5rem;
    }
    .section__text__p2 {
        margin-bottom: 0.5rem;
        font-size: 3rem;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .btn {
        font-weight: 600;
        transition: all 300ms ease;
        padding: 1rem;
        width: 12rem;
        height: 5rem;
        border-radius: 15px;
        font-size: 1.5rem;
    }
    .btn-color-1, .btn-color-2 {
        border: black solid;
        background-color: white;
    }
    .btn-color-1:hover, .btn-color-2:hover {
        cursor: pointer;
        color: white;
        background-color: black;
    }

    .socials-container {
        display: flex;
        justify-content: center;
        gap: 1.25rem;
    }

    .icon {
        cursor: pointer;
        height: 5rem;
        margin-top: 1.5rem;
    }
    .icon:hover {
        transform: scale(1.25);
        transition: transform 0.5s ease;
    }

    /* About Section */
    #about {
        position: relative;
        margin-bottom: 2.5rem;
    }
    #about .section__text__p1 {
        font-size: 2rem;
    }
    #about .title {
        font-size: 3rem;
        text-align: center;
    }
    
    .text-container p {
        font-size: 1.70rem;  
        padding: 0.5%;
        text-align: justify; /* Justifies the text for a cleaner, more formal appearance */
        background-color: #f4f4f4; /* Optional: a light background to highlight the text block */
    }

    .logos {
        display: flex;       /* Sets the .logos container to use flexbox */
        justify-content: center; /* Centers the content horizontally */
        align-items: center; /* Centers the content vertically (if needed) */
    }
    
    .logos-slide {
        display: flex;       /* Enables flexbox for direct children, which are img elements here */
        flex-wrap: wrap;     /* Allows the images to wrap onto multiple lines */
        justify-content: center; /* Centers the images horizontally */
        align-items: center; /* Aligns images vertically */
        gap: 15px;           /* Adds space between the images */
    }
    
    .logos-slide img {
        width: 65px;    /* Optional: Sets a maximum width for each image */
        height: auto;        /* Maintains aspect ratio */
    }

    /* Projects Section */
    #projects {
        margin-bottom: 2.5%;
    }
    #projects .section__text__p1 {
        font-size: 2rem;
    }
    #projects .title {
        font-size: 3rem;
        text-align: center;
    }
    
    .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    }
    
    .project-card {
        position: relative; /* Set the position to relative to allow absolute positioning of children */
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center children vertically */
        align-items: center; /* Center children horizontally */
        overflow: hidden; /* Optional: Prevents overflow from rounded corners */
    }
    
    .project-card img {
        width: 500px;
        height: 600px;
        object-fit: cover;
        object-position: center;
        border-radius: 15px;
        filter: grayscale(100%);
        transition: filter 0.25s; /* Smooth transition for hover effect */
    }
    
    .project-card img:hover {
        filter: grayscale(0%);
    }
    
    .project-card h2 {
        position: absolute; /* Position the h2 absolutely within the relative parent */
        top: 50%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Adjust position to truly center the text */
        text-align: center;
        font-size: 3.5rem;
        color: white; /* Ensures text is visible on top of images */
        width: 100%; /* Stretch to full width of the container */
        margin: 0; /* Remove any default margin */
        padding: 10px 0; /* Vertical padding */
    }

    /* Contact Section */
    #contact {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #contact .section__text__p1 {
        font-size: 2rem;
    }
    #contact .title {
        font-size: 3rem;
        text-align: center;
    }
    #contact p:hover a {
        background: linear-gradient(45deg, red, orange, yellow, green,blue, purple);
        color: transparent;
        background-clip: text;
    }
    
    .contact-info-upper-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .contact-info-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        margin: 0.5rem;
        padding: 0.5rem;
        border: black 0.25rem solid;
        border-radius: 15px;
        background-color: #dddddd;
    }
    .contact-info-container p {
        font-size: 2.5rem;
    }
    .contact-info-container p a {
        color: black;
    }
    
    .contact-icon {
        cursor: default;
        width: 3.5rem;
        height: auto;
    } 
    .contact-icon:hover {
        transition: none;
        transform: none;
    }

    /* Footer */
    footer p {
        font-size: 175%;  
    }
}

/* 4K DEVICES */
@media only screen and (min-width: 2552px) {
    /* Nav */
    .logo {
        font-size: 5rem;
    }

    ul li a {
        padding: 0.75rem 1.25rem;
        font-size: 2.5rem;
    }

    ul li a::before {
        height: 10px;
    }

    /* Profile Section */
    #profile {
        margin-top: 10%;
        margin-bottom: 5%;
        gap: 10%;
    }
    #profile .title {
        font-size: 7.5rem;
    }    

    .section__pic-container img {
        width: 110%;
    }
    .section__text__p1 {
        font-size: 5rem;
    }
    
    .section__text__p2 {
        font-size: 4.5rem;
    }

    .btn-container {
        gap: 2.5rem;
    }
    .btn {
        width: 22.5rem;
        height: 7.5rem;
        font-size: 2.5rem;
    }

    .socials-container {
        gap: 2rem;
    }

    .icon {
        height: 7.5rem;
        margin-top: 1.5rem;
    }

    /* About Section */
    #about {
        margin-bottom: 2.5%;
    }
    #about .section__text__p1 {
        font-size: 3.5rem;
    }
    #about .title {
        font-size: 5rem;
    }

    .text-container p {
        font-size: 2.25rem;  
        padding: 1%;
    }

    .logos-slide {
        gap: 25px;           /* Adds space between the images */
    }
    .logos-slide img {
        width: 100px;    /* Optional: Sets a maximum width for each image */
    }

    /* Projects Section */
    #projects .section__text__p1 {
        font-size: 3.5rem;
    }
    #projects .title {
        font-size: 5rem;
    }

    .project-grid {
        grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
    }

    .project-card {
        padding: 10px;
    }

    .project-card img {
        width: 800px;
        height: 950px;
    }

    .project-card h2 {
        font-size: 5rem;
    }

    /* Contact Section */
    #contact .section__text__p1 {
        font-size: 3.5rem;
    }
    #contact .title {
        font-size: 5rem;
        text-align: center;
    }

    .contact-info-container p {
        font-size: 4.5rem;
    }

    .contact-icon {
        width: 5rem;
    } 

    /* Footer */
    footer p {
        font-size: 200%;  
    }
}