/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Pacifico', cursive;
}

html {
    scroll-behavior: smooth;
}

/* SECTIONS */
section {
    padding-top: 4vh;
    margin: 0 7.5rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}


/* NAVIGATION */
.logo {
    font-size: 35px;
    font-weight: 600;
}
.logo a {
    color: black;
}
.logo {
    transition: transform 0.5s ease; 
}
.logo:hover {
    transform: scale(1.1); 
}

nav{
    display: flex;
    background: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 7.5rem 0 7.5rem;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    margin: 0 17.5px;
    position: relative;
}
nav ul li a::before, nav ul li a::after {
    content: '';
    position: absolute;
    top: 105%;
    bottom: 0;
    width: 0;
    height: 5px;
    transition: width 0.25s ease;
    border-radius: 50px;
}
nav ul li a::before {
    left: 50%;
    transform: translateX(-50%);
}
nav ul li a::after {
    right: 50%;
    transform: translateX(50%);
}
nav ul li a:hover::before, nav ul li a:hover::after {
    width: 100%;
}
nav .menu-btn i{
    color: #000000;
    font-size: 35px;
    cursor: pointer;
    display: none;
}

.sapphire:hover {
    color: #0508aa;
}
.sapphire:hover::before, .sapphire:hover::after {
    background-color: #0508aa;
}

.ruby:hover {
    color: #bb1425;
}
.ruby:hover::before, .ruby:hover::after {
    background-color: #bb1425;
}

.emerald:hover {
    color: #07a11c;
}
.emerald:hover::before, .emerald:hover::after {
    background-color: #07a11c;
}

.amethyst:hover {
    color: #c7008b;
}
.amethyst:hover::before, .amethyst:hover::after {
    background-color: #c7008b;
}

input[type="checkbox"]{
    display: none;
}


/* PROJECTS SECTION */
.project-grid {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project-card {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.project-card img {
    width: 100%;
    height: 375px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.project-card h3 {
    margin-top: 0.5rem;
    text-align: center;
}
.project-card p {
    text-align: center;
    margin-top: 0.5rem;
}

.button-link {
    margin-top: 0.5rem;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: black;
    text-decoration: none;
    border-radius: 15px;
    text-align: center;
    border: 0.1px solid transparent; 
}
.button-link:hover {
    background-color: white;
    color: black;
    border-color: black; 
}


/* FOOTER SECTION */
footer .nav-links a {
    /* display: inline-block; */
    transition: transform 0.25s ease;
    font-size: x-large;
}
footer .nav-links a:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    font-size: x-large;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav-links a {
    color: black;
}

.up-arrow {
    display: none;
    justify-content: center;
}
.up-arrow img {
    height: 3rem;
    width: 3rem;
}


/* RESPONSIVE DESIGN */
@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    #contact, #projects {
        height: fit-content;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        margin-bottom:-175px;
        padding: 0;
    }
    .section__pic-container img{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }

    .contact-info-container p {
        max-width: 300px; 
        overflow: hidden;
        white-space: normal;
        word-wrap: break-word;
        margin-bottom: 5px;
    }
}

/* MOBILE */
@media screen and (max-width: 600px) {
    /* NAVIGATION */
    .logo {
        font-size: 2rem;
    }
    .logo:hover {
        transform: none;
    }
    
    nav {
        padding: 0 1.5rem;
        padding-bottom: 10px;
    }

    nav .menu-btn i{
        display: block;
    }

    nav ul{
        position: fixed;
        top: 67.5px;
        left: -100%;
        backdrop-filter: blur(50px);
        height: 100%;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul li{
        width: 100%;
        margin-top: 100px;
    }
    nav ul li a{
        color: black;
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 25px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menu-btn {
        margin-top: 7.5px;
    }

    #click:checked ~ ul{
        left: 0;
    }
    #click:checked ~ ul li a{
        margin-left: 0px;
    }

    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }


    /* PROJECTS SECTION */
    article {
        font-size: 1rem;
    }

    .project-grid {
        padding: 0;
        padding-top: 0.25rem;
    }
    .project-card img {
        filter: grayscale(100%)
    }


    /* FOOTER SECTION */
    .up-arrow {
        display: contents;
        justify-content: center;
    }
    .up-arrow img {
        margin-top: 1rem;
        justify-content: center;
    }

    footer .nav-links {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        text-align: center;
        transform: none;
        margin-top: 0;
    }
    .nav-links li a {
        font-size: 1rem;
    }
}
