* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
header {
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(100px);
    transition: 0.6s ease;
    background-color: black;
}

.logo {
    font-size: 1.25rem;
    transition: transform 0.5s ease; 
}
.logo:hover {
    transform: scale(1.25); 
}
.logo:hover::before, .logo:hover::after {
    width: 0;
}

.nav-bar {
    position: relative;
    height: calc(2rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: 0.6s ease;
}

.nav-items a:not(:last-child) {
    margin-right: 25px;
}

.nav-menu-btn {
    display: none;
}

a {
    text-decoration: none;
    position: relative;
    font-weight: bolder;
    color: white;
}
a::before, a::after {
    margin-top: 5px;
    content: '';
    position: absolute;
    top: 100%;
    bottom: 0;
    width: 0;
    height: 2.5px;
    background-color: white;
    transition: width 0.5s ease;
    border-radius: 50px;
}
a::before {
    left: 50%;
    transform: translateX(-50%);
}
a::after {
    right: 50%;
    transform: translateX(50%);
}
a:hover::before, a:hover::after {
    width: 100%;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

/* INTRODUCTION CONTAINER */
#profile {
    margin-top: 10%;
    display: flex;
}

.profile__pic-container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    flex-direction: row;
}

.profile__text {
    flex-direction: row;
    margin-left: 15%;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*  RESPONSIVENESS FOR MOBILE */
@media screen and (max-width: 430px) {
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-items {
        position: relative;
        width:  600px;
        max-width: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px;
        padding: 40px;

    }

    .nav-items a {
        margin: 15px 20px;
    }

    .nav-menu-btn {
        background-image: url(../asset/hamburger-menu.jpg)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: block;
    }
}